
body {
    
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
}

hr {
    border-top: 2px dotted grey;
    width: 20px;
}

.first-container {
    height: 100vh;
    background-color: rgb(252 231 243);
}

h1 {
    font-family: 'Sacramento', cursive;
}

h2 { 
    font-size: 40px;
    padding-bottom: 10px;
    color: rgb(252, 200, 200);
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 30px;
    color: rgb(168 162 158);

    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
}

.space {
    margin: 0 10px 0 10px;
}

.logo ul { 
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

li{
    float: left;
}


li a { 
    font-size: 20px;
    display: block;
    color: gray;
    margin: 0 8px 0;
    text-decoration: none;
}
li :hover {
    color: #c5c5c5;
}

.options {
    float: right;
    padding: 12px 6px 0;
}

img {
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.apresentation {
    margin: 0 auto 0 auto;
    width: 30%;
    height: 200px;
    color: rgb(168 162 158);
}

.text1 {
    font-size: 60px;
    position: relative;
    left: auto;
    bottom: 200px;
    z-index: 10;
}

.text2 {
    font-size: 30px;
    left: 50px;
    position: relative;
    left: auto;
    bottom: 220px;
    z-index: 10;
}

.img1 {
    width: 50vh;
    height: auto;
    position: relative;
    left: 150px;
    top: 20px;
}

.img2 {
    width: 50vh;
    height:auto;
    position: relative;
    right: 150px;
    bottom: 420px;
}


.profile {
    width: 50%;
    margin: 100px auto;
    line-height: 2;

}

.profile img {
    width: 30%;
    height: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img  {
    float: right;
    margin-right:30px ;
    width: 30%;
    height: auto;
}

.code-img1 {
    float: left;
    margin-right:30px ;
    width: 30%;
    height: auto;
}


.contact-me {
    margin: 100px auto 100px auto;
    line-height: 2;
}

.btn {
    border-radius: 8px;
    border: 1px;
    background-color:palevioletred;
    padding: 6px;
} 
.btn a {
    text-decoration: none;
    color:white;
}


.btn:hover {
    background-color:plum ;
}

.bottom-container{
    padding: 20px 0 20px;
    background-color:rgb(223, 141, 187);
}
.bottom-container a {
    font-size: 10px;
    text-decoration: none;
    color: palevioletred;
    margin-left: 20px;
}
.bottom-container a:hover{
    color: #c5c5c5;
}
.bottom-container p {
    color: white;
}
